html {
    font-family: sans-serif;


}


.text-center {
    font-size: 29px;
    font-weight: 600;
}

body {

    padding: 100pt 400pt 100pt 400pt;
    background: #E4F1F5 !important;

}


.btn-primary {
    background-color: #a4cec8;
    border-color: #1F2121;
    width: 30%;

}

.container-fluid {

    border-color: #01549b;
    border: 7px solid white;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;

}

.form-group {
    font-size: 17px;
    padding: 2pt 40pt;
    text-align: left;

}

label {
    font-size: 15px;
    font-weight: 100;
}

p {
    padding-top: 10pt;
    font-size: 15px;
    font-weight: 100;
    color: #8E9496;
}
